.membership-guidelines
  - overall_progress = @overall_progress

  = render partial: 'checklist_header', locals: {user: @current_user, user_checklist: @membership_guidelines }

  .entry-content.container
    .user-checklist.membership-guidelines-completed
      %p.description= @membership_guidelines.description

      .completed-progress-bar
        = render partial: 'progress_bar', locals: {  percent_complete: overall_progress }

      .row
        .col
          %div.card
            %div.card-body
              %h4.card-title= t('.i_commit_to')

              = render partial: 'checklist_tree_as_list', locals: { user_checklist: @membership_guidelines }

            %div.card-footer
              .row
                %h3
                  %span.is-complete.show-inline#all-complete-icon
                    = complete_check_icon(html_options: { class: 'fa-fw', id: 'fas-all-complete-icon' })
                  =t('.agreed_to_all_terms')
