%header.entry-header
  = content_title(t('.title', file_name: @uploaded_file.actual_file_file_name), user: current_user)

.entry-content
  = form_for @uploaded_file do |f|
    != model_errors_helper(@uploaded_file)

    = image_tag(@uploaded_file.actual_file.url)
    .clearfix.m-3
    = @uploaded_file.actual_file_file_name

    .form-group
      = f.label :description, t('activerecord.attributes.uploaded_file.description')
      = f.text_field :description, class: 'form-control'

    .form-group
      = f.submit t('save'), class: 'btn btn-primary mb-2 form-control'


