%h1 Listing uploaded_files

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @uploaded_files.each do |uploaded_file|
      %tr
        %td= uploaded_file.title
        %td= uploaded_file.description
        %td= link_to 'Show', uploaded_file
        %td= link_to 'Edit', edit_uploaded_file_path(uploaded_file)
        %td= link_to 'Destroy', uploaded_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Uploaded file', new_uploaded_file_path
