- if current_user.admin?
  - applications = company.shf_applications
- else
  - applications = company.approved_applications_from_members # FIXME

- if applications.any?
  .row
    .col-12.company_member
      .table-responsive-lg
        %table.table.table-sm.table-hover.company-members
          %thead
            %tr
              %th.text-nowrap= t('.co_members')
              %th= t('.business_categories')
              - if current_user.admin?
                %th= t('.is_member')
                %th= t('.app status')
          - applications.each do |application|
            %tbody
              %tr.member
                %td= link_to(application.user.full_name, application.user)
                %td= business_categories_str(application)
                - if current_user.admin?
                  %td= application.user.member
                  %td= link_to(application.state, application)
