- content_for :javascript_for_view do
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Geocoder.config[:api_key]}&language=#{I18n.locale}&region=SE"

%header.entry-header
  - if current_user&.admin?
    %h1.entry-title= t('.admin_title')
  - else
    %h1.entry-title= t('.title')

.entry-content

  .row
    = render 'map_companies',
             markers: location_and_markers_for(@all_visible_companies)


  - unless current_user.admin?

    .search-instructions
      %h3
        #{t('.h_companies_listed_below')}
        %br
        #{t('.how_to_search')}

        %button.btn.hide-search-form.btn-success.btn-xs.pull-right{ id: 'toggle_search_form',
                                          href: '#company_search_form',
                                          style: 'color:black; text-transform:none;' }
          #{t('toggle.company_search_form.hide')}

  .panel.panel-default.search-form#company_search_form

    = render 'search_form'


  - if @companies.empty?
    %strong
      #{t('.no_search_results')}
  - else
    = render partial: 'companies_list'
