.container

  = render 'app_section_about_you', f: f,
                                    section_number_str: '1.',
                                    shf_application: @shf_application,
                                    company_numbers: company_numbers

  = render 'next_prev_section',
              prev_section: false,
              next_section: true,
              next_section_name: t('.step_business_categories'),
              next_section_link: '#business-categories'


  = render 'app_section_business_categories', f: f,
                                    section_number_str: '2.',
                                    shf_application: @shf_application

  = render 'next_prev_section',
                        prev_section: true,
                        prev_section_name: t('.step_about_you'),
                        prev_section_link: '#about-you',
                        next_section: true,
                        next_section_name: t('.step_membership_guidelines'),
                        next_section_link: '#membership-guidelines'


  = render 'app_section_membership_guidelines', f: f,
                                   section_number_str: '3.',
                                   shf_application: @shf_application


  = render 'next_prev_section',
                                   prev_section: true,
                                   prev_section_name: t('.step_business_categories'),
                                   prev_section_link: '#business-categories',
                                   next_section: true,
                                   next_section_name: t('.step_upload_files'),
                                   next_section_link: '#supporting-files'


  = render 'app_section_upload_files', f: f,
                                   section_number_str: '4.',
                                   shf_application: @shf_application,
                                   allowed_file_types: @allowed_file_types

  = render 'next_prev_section',
                                   prev_section: true,
                                   prev_section_name: t('.step_membership_guidelines'),
                                   prev_section_link: '#membership-guidelines',
                                   next_section: false


  - if @shf_application.may_is_ready_for_review?
    = render 'ready_for_review', f: f

