%header.entry-header
  %h1.entry-title= t('.title')
.entry-content

  .row.mb-4
    .col-6

      - search_form_id = 'toggled_search_form'
      .panel-group.m-2#accordion{ role: 'tablist' }
      .panel.panel-default
        .panel-heading#toggle-heading{ role: 'tab' }
          %h4.panel-title.hide-toggler
            %a{ 'aria-controls' => search_form_id, 'aria-expanded' => 'true',
                'data-parent' => '#accordion', 'data-toggle' => 'collapse',
                href: "##{search_form_id}", role: 'button',
                id: 'application_search_form_toggler' }

              #{t('accordion_label.application_search_form_toggler.hide')}


    .col-4.offset-2
      = render partial: 'administration_panel' if @current_user.admin?


  .clearfix

  .panel.panel-default.search-form{id: search_form_id, 'aria-labelledby' => 'application_search_form_toggler', role: 'tabpanel' }
    = render 'search_form'


  - if @shf_applications.empty?
    %strong
      #{t('.no_search_results')}
  - else
    #shf_applications_list
      = render partial: 'shf_applications_list'
