%header.entry-header
  %h1.entry-title= t('.title')
.entry-content

  .row.mb-4
    .col-6
      = render 'application/accordion_showhide_toggle', toggler_id: 'application_search_form_toggler'

    .col-4.offset-2
      = render partial: 'administration_panel' if @current_user.admin?


  .clearfix

  .panel.panel-default.search-form{id: 'toggled_search_form', 'aria-labelledby' => 'toggle-heading', role: 'tabpanel' }
    = render 'search_form'


  - if @shf_applications.empty?
    %strong
      #{t('.no_search_results')}
  - else
    #shf_applications_list
      = render partial: 'shf_applications_list'
