%header.entry-header
  %h1.entry-title{class: @master_checklist.is_in_use ? '' : 'not-in-use'}= @master_checklist.name

.entry-content.container
  .master-checklist-item

    %p.numbers
      %span.completed= t('.completed') + ': ' + @master_checklist.user_checklists.completed.count.to_s + ', '
      %span.not-completed= t('.not_completed') + ': ' + @master_checklist.user_checklists.uncompleted.count.to_s
    %hr

    = render 'form', locals: {master_checklist: @master_checklist,
       all_allowable_parents: @all_allowable_parents,
       can_edit_everything: !@master_checklist.is_in_use,
       class_name: 'edit-master-checklist-item'}

  %hr
    .text-center
      = link_to t('.view_list_item'), @master_checklist, class: 'btn btn-sm btn-light'

      = render partial: 'delete_button_if_applicable', locals: { master_checklist: @master_checklist }

      = link_to t('.all_list_items'), admin_only_master_checklists_path, class: 'btn btn-sm btn-light'
