%header.entry-header
  %h1.entry-title{class: @master_checklist.is_in_use ? '' : 'not-in-use'}= @master_checklist.name

.entry-content.container
  .master-checklist-item

    - if @master_checklist.no_more_major_changes?
      .row.mt-2.no-more-major-changes
        = render partial: 'no_more_major_changes_note'
    .row
      %p.numbers
        %span.completed= t('.completed') + ': ' + @master_checklist.user_checklists.all_that_are_completed.count.to_s + ', '
        %span.not-completed= t('.not_completed') + ': ' + @master_checklist.user_checklists.all_that_are_uncompleted.count.to_s
      %hr

    = render 'form', locals: {master_checklist: @master_checklist,
       all_allowable_parents: @all_allowable_parents,
       class_name: 'edit-master-checklist-item'}

  %hr
    .text-center
      = link_to t('.view_list_item'), @master_checklist, class: 'btn btn-sm btn-light'

      = render partial: 'delete_button_if_applicable', locals: { master_checklist: @master_checklist }

      = link_to '(clone and mark this as no longer used) TBD', '#', class: 'btn btn-sm btn-primary'

      = link_to t('.all_list_items'), admin_only_master_checklists_path, class: 'btn btn-sm btn-light'
