-# Admin only menu items for the login menu
- if current_user.admin?
  %li
    = link_to t('menus.nav.admin.app_configuration'), admin_only_app_configuration_path, class: 'nav-link'
  %li
    = link_to t('menus.nav.admin.master_checklists'), admin_only_master_checklists_path, class: 'nav-link'

  %li
    = link_to t('menus.nav.admin.dashboard'), admin_only_dashboard_path, class: 'nav-link'
  %li
    = link_to t('menus.nav.admin.design_guide'), admin_only_designguide_path, class: 'nav-link'
  %li
    -# = link_to t('about'), '#' 'about_modal', class: 'nav-link', 'data-toggle': 'modal', 'data-target': 'about-info-modal'

    %a{ href: '#', 'data-toggle': 'modal', 'data-target': '#about-info-modal' }
      = t('about')


  - unless @user.nil?
    %li
      = link_to t('admin_only.user_profile.edit.become_this_user'), admin_only_become_user_path(@user), class: 'nav-link'
