-provide :signoff do
  = render 'membership_application_mailer/signoff'

-# FIXME # When using <tt>url_for</tt> you'll need to provide the <tt>:host</tt>, <tt>:controller</tt>, and <tt>:action</tt>:

= t('shf_mailer.membership_application.accepted.message_text.youre_active')  + url_for(@member_app.company)
\
= t('shf_mailer.membership_application.accepted.message_text.access_fb_group')
= t('shf_facebook_group_url')
\
= t('shf_mailer.membership_application.accepted.message_text.and_member_pages') + t('shf_medlemssystem_url')
