-provide :signoff do
  = render 'membership_application_mailer/signoff'

%p
  = t('shf_mailer.membership_application.accepted.message_text.youre_active')
  = link_to(url_for(@member_app.company),  @member_app.company, target: '_blank') # FIXME # When using <tt>url_for</tt> you'll need to provide the <tt>:host</tt>, <tt>:controller</tt>, and <tt>:action</tt>:


%p
  = t('shf_mailer.membership_application.accepted.message_text.access_fb_group')
  = link_to(t('shf_facebook_group_url'), t('shf_facebook_group_url'), target: '_blank') # FIXME # When using <tt>url_for</tt> you'll need to provide the <tt>:host</tt>, <tt>:controller</tt>, and <tt>:action</tt>:


  %br
  = t('shf_mailer.membership_application.accepted.message_text.and_member_pages')
  = link_to(t('shf_medlemssystem_url'), t('shf_medlemssystem_url'), target: '_blank') # FIXME url? # When using <tt>url_for</tt> you'll need to provide the <tt>:host</tt>, <tt>:controller</tt>, and <tt>:action</tt>:

